@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
  display: flex;
  background-color: rgb(235, 231, 225);

}

.header {
  background-color: rgb(252, 252, 252);
}

.profile-image {
}

.logo {
  font-size: 1.4rem;
  display: flex;
  
}

button {
  background-color: rgb(95, 28, 157);
  color: aliceblue;
  border-radius: 3px;
  border: 5px;
}

a {
    padding: 0 20px;
    text-decoration: none;
}

ul {
    display: flex;
   list-style: none;
}
